/.vs/BasicPointOfSale
/BasicPointOfSale/obj
/BasicPointOfSale/appsettings.json
/BasicPointOfSale/bin/Debug/net6.0
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/PointOfSale.Models/obj
/BasicPointOfSale/appsettings.Development.json
/BasicPointOfSale/bin/Release/net6.0
/PointOfSale.BL/bin/Release/net6.0
/PointOfSale.DAL/bin/Release/net6.0
/PointOfSale.Models/bin/Release/net6.0
/PointOfSale.BL/obj/Debug/net6.0/PointOfSale.BL.csproj.AssemblyReference.cache
/PointOfSale.DAL/obj/Debug/net6.0/PointOfSale.DAL.csproj.AssemblyReference.cache
