/.vs/BasicPointOfSale
/BasicPointOfSale/obj
/BasicPointOfSale/appsettings.json
/BasicPointOfSale/bin
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/PointOfSale.Models/obj
/BasicPointOfSale/appsettings.Development.json
/BasicPointOfSale/bin
/PointOfSale.BL/bin
/PointOfSale.DAL/bin
/PointOfSale.Models/bin
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/.vs/ProjectEvaluation/basicpointofsale.metadata.v6.1
/.vs/ProjectEvaluation/basicpointofsale.projects.v6.1
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/PointOfSale.BL/obj/Debug/net6.0/PointOfSale.BL.csproj.AssemblyReference.cache
