/.vs/BasicPointOfSale
/BasicPointOfSale/obj
/BasicPointOfSale/appsettings.json
/BasicPointOfSale/bin
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/PointOfSale.Models/obj
/BasicPointOfSale/appsettings.Development.json
/BasicPointOfSale/bin
/PointOfSale.BL/bin
/PointOfSale.DAL/bin
/PointOfSale.Models/bin
/PointOfSale.BL/obj
/PointOfSale.DAL/obj
/PointOfSale.BL/bin
/PointOfSale.BL/bin
/.vs
/BasicPointOfSale/Properties/PublishProfiles/FTPProfile.pubxml.user
