
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuantityOverStock</title>
</head>
<body>
    <p>No tenes stock Loco!</p>
</body>
</html>
