@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <!-- <a class="navbar-brand" href="#!">Tu punto de venta en todos lados</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item btn btn-outline-secondary"><a class="nav-link text-light" asp-area="" asp-controller="Access" asp-action="Login">Ingresar</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        @*Llevá el mejor seguimiento de tu negocio*@
                        YakaPOS
                    </h1>
                    <p class="lead text-white-50 mb-4">
                        Todos los movimientos de tu negocio, registrados y ordenados
                        en el mismo lugar. Mantené siempre el control donde estés, tomá las mejores desiciones y
                        seguí creciendo.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Comenzar</a>
                        <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Control de todos tus ingresos y egresos</h2>
                <p>
                    Registrá todos tus movimientos en un mismo lugar. Accedé a tus ventas, compras, datos de tus
                    clientes y mantené el control en todo momento. Programá modificiaciones de precio con
                    anticipación, ofertas y promociones.
                </p>

            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-building"></i>
                </div>
                <h2 class="h4 fw-bolder">Mejorá tus decisiones</h2>
                <p>
                    Accedé a estadísticas de todas tus operaciones. Revisá con qué proveedores tenés los mejores
                    tratos, la demora tuvieron con los plazos de entrega, o en qué rangos de horario tenés más y
                    menos ventas. Lo que necesites para perseguir tus objetivos.
                </p>

            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">Tu negocio en todos lados</h2>
                <p>
                    Revisá en cualquier momento los movimientos realizados a través de tu teléfono celular. Todo lo
                    que vaya pasando se registra en la nube para que puedas verlo cuando quieras.
                </p>

            </div>
        </div>
    </div>
</section>
@*
<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Crecimiento controlado</h2>
            <p class="lead mb-0">Elegí tu plan</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card free-->
            <div class="col-lg-6 col-xl-6">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Básico</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$3500</span>
                            <span class="text-muted">/ mes.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>1 sucursal</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                1 usuario vendedor
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                1 usuario administrador
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Estadísticas básicas
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Ofertas y promociones programadas
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Envío de emails de promociones para clientes
                            </li>
                        </ul>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="#!">
                                Comenzá tu prueba
                                gratuita
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-6">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            Premium
                        </div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$5500</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Sucursales ilimitadas</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Sin límite de vendedores
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Sin límite de administradores
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Estadísticas avanzadas
                            </li>
                            <i class="bi bi-check text-primary"></i>
                            Ofertas y promociones programadas
                            </li>
                            <i class="bi bi-check text-primary"></i>
                            Envío de emails de promociones para clientes
                            </li>
                        </ul>
                        <div class="d-grid">
                            <a class="btn btn-primary" href="#!">Comenzá tu prueba gratuita</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pricing card enterprise-->
            <!-- <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$49</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited</strong>
                                linked domains
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-check text-primary"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>*@

@*<div class="row mt-5 d-flex justify-content-center">
    <div>
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0">
        </iframe>
    </div>

    <div>
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-mep" frameborder="0">
        </iframe>
    </div>

    <div>
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/bitcoin-usd" frameborder="0">
        </iframe>
    </div>
</div>*@

<div class="row mt-5  justify-content-center">
    <div class="col-md-4 mb-4">
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"></iframe>
    </div>

    <div class="col-md-4 mb-4">
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-mep" frameborder="0"></iframe>
    </div>

    <div class="col-md-4 mb-4">
        <iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/bitcoin-usd" frameborder="0"></iframe>
    </div>
</div>
