@{
    ViewData["Title"] = "DeleteTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">

<h1>DeleteTransaction</h1>
    <div class="alert alert-warning">
        <p>
            Under Construction
        </p>
    </div>
</div>