@model PointOfSale.Models.Transaction

@{
    ViewData["Title"] = "TransactionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="TransactionDetails">
    <input type="hidden" asp-for="BusinessUnitId" />
    <input type="hidden" asp-for="Id" />

    <div class="border p-3">


        <div class="form-group row">
            <h2 class="text-info pl-3">Detalles de Transacción</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="DateTime" class="form-label">Fecha</label>
                    <input asp-for="DateTime" class="form-control" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Description" class="form-label">Descripción</label>
                    <input asp-for="Description" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Amount" class="form-label">Monto</label>
                    <input asp-for="Amount" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CashRegister.Name" class="form-label">Caja</label>
                    <input asp-for="CashRegister.Name" class="form-control" readonly />
                </div>
            </div>
            

            <br />
            <div class="d-grid gap-2 d-md-block">
                @*<button type="submit" class="btn btn-outline-secondary">Editar</button>*@
                <a asp-controller="Transaction" asp-action="Edit" class="btn btn-outline-secondary">Modificar</a>
                <a asp-controller="Transaction" asp-action="Index" class="btn btn-outline-success">Regresar</a>

            </div>
        </div>



    </div>

</form>
