
@{
    ViewData["Title"] = "TransactionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TransactionDetails</h1>

<div class="alert alert-warning">
    <p>
        Under Construction
    </p>
</div>