@model PointOfSale.Models.BusinessUnit

@{
    ViewData["Title"] = "NewBusinessUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="NewBusinessUnit">
    @*<input type="hidden" asp-for="UserId" />*@
    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>


        <div class="form-group row">
            <h2 class="text-info pl-3">Nuevo Negocio</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">BusinessName</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-controller="BusinessUnit" asp-action="Index" class="btn btn-success">Cancelar</a>

            </div>
        </div>



    </div>

</form>

